*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/QmBlurView/build/
/QmBlurView/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
.idea/gradle.xml
.idea/markdown.xml
app/release/baselineProfiles/1/app-release.dm
app/release/output-metadata.json
app/release/baselineProfiles/0/app-release.dm
.idea/vcs.xml
.idea/misc.xml
